@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

html,
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0 auto;
}


body {
max-width: 1440px;
margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {


}

.navbar {
@apply flex items-center md:py-4 pt-2 pb-1 md:pr-[120px] md:pl-[120px] px-4 bg-brand-light3 md:bg-white ;


}

.footer-items {
padding: 10px 4px;

}