@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  @apply px-s mobile480:px-m desktop1440:px-[120px] mx-auto;
}

.header {
  @apply fixed border-b top-0 w-[100%] border-borderDefault pt-xs2 pb-xs3 tablet1024:py-s bg-bgBrandLight3 tablet1024:bg-bgWhite;
}

.main-container {
  @apply mb-6;
}
.product-card {
  @apply mobile320:w-[140px] mobile375:w-[168px] mobile480:w-[212px] tablet600:w-[270px] tablet768:w-[232px] tablet1024:w-[221px] desktop1200:w-[269px] desktop1440:w-[285px] border border-borderDefault rounded-lg cursor-pointer hover:shadow-md;
}

.product-card-img {
  @apply mobile320:h-[111px] tablet600:h-[150px] desktop1200:h-[190px] mobile320:w-[140px] mobile375:w-[168px] mobile480:w-[212px] tablet600:w-[270px] tablet768:w-[232px] tablet1024:w-[221px] desktop1200:w-[269px]  desktop1440:w-[285px] object-contain;
}

.footer-items {
  @apply py-[10px] px-[4px] cursor-pointer hover:text-textBrand hover:underline focus:text-textBrand focus:underline;
}

.footer-lists {
  @apply flex flex-col justify-between gap-m2  tablet768:hidden tablet1024:flex tablet1024:flex-row tablet1024:py-m tablet1024:px-s;
}

.state-button {
  @apply hover:bg-bgHoverBlue active:bg-bgPressedBlue rounded-lg bg-bgBrandDark;
}

.button-secondary {
  @apply hover:bg-bgHoverGrey active:bg-bgPressedGrey rounded-lg border border-borderDefaultBlue;
}

.search-input {
  @apply relative p-3 tablet1024:w-[275px] desktop1200:w-[240px] desktop1440:w-[343px]  rounded-lg border border-borderDefault text-base placeholder:text-textInputDefault;
}

.search .search-icon {
  @apply border border-borderDefaultBlue rounded-r p-xs absolute right-0 top-0 cursor-pointer bg-bgBrandDark;
}

.search:hover input {
  @apply bg-bgHoverGrey placeholder:text-textInputActive;
}

.search:active input {
  @apply bg-bgHoverGrey placeholder:text-textInputActive;
}

.search:hover .search-icon,
.search:focus-within .search-icon {
  @apply bg-bgBrandDark border border-borderDefaultBlue;
}

.search:hover .icon,
.search:focus-within .icon {
  @apply stroke-white fill-iconBrand;
}

.search:focus-within input {
  @apply focus:outline-none focus:border-borderDefaultBlue placeholder:text-textInputActive;
}

.sidebar-menu:hover .sidebar-icon,
.sidebar-menu:focus .sidebar-icon {
  @apply fill-iconBrandDark stroke-iconBrandDark;
}

.characteristic {
  @apply flex items-center text-[15px]/[19.5px] py-4;
}

.characteristic-label {
  @apply text-textSecondary flex flex-1 w-[73%] after:flex-1 after:relative after:bottom-[3px] after:content-[''] after:border-dotted after:border-b after:border-borderDefault after:mx-2;
}

.characteristic-value {
  @apply text-textPrimary w-[27%];
}

.pagination-item {
  @apply hover:bg-bgBrandDark;
}

.catalog-menu:hover .catalog-icon,
.catalog-menu:focus .catalog-icon {
  @apply stroke-iconBrandDark;
}