@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

html,
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0 auto;
}


body {
max-width: 1440px;
margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {


}

.navbar {
@apply flex justify-between items-center md:py-4 pt-2 pb-1 xl:pr-[120px] xl:pl-[120px] px-4 bg-brand-light3 md:bg-white ;
}

.main-container {
@apply pr-[120px] pl-[120px];
}

.footer-items {
@apply py-[10px] px-[4px] hover:text-hover-blue hover:underline;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
 

  @media (min-width: 1170px) {
	flex-direction: row;
   padding: 24px 0 16px;
}
}

.state-button {
@apply hover:bg-hover-blue focus:shadow-button-shadow;
}

.search-input {
  @apply relative p-3 w-272 rounded-lg border border-border-default text-base placeholder:text-text-input-default ;
}

.search-icon {
  @apply border border-border-default rounded-r p-3 absolute right-0 top-0 cursor-pointer ;
}

.search:hover input {
@apply bg-hover-grey placeholder:text-input-active;
}

.search:active input {
@apply bg-hover-grey placeholder:text-input-active;
}

.search:hover .search-icon, .search:focus-within .search-icon {
    @apply bg-default-blue border border-default-blue;
}

 .search:hover .icon, .search:focus-within .icon {
 stroke: #fff;
}

.search:focus-within input {
  @apply focus:outline-none focus:border-default-blue placeholder:text-input-active;
}

